.footer-full {
  width: 100%;
  background-color: var(--orange-dark);
  padding: 2rem;
}
.container-footer{
  width: 85%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
}

.social-fixed {
  position: fixed;
  left: 0;
  top: 50%;
  margin: .5rem 0 0 .5rem;
  width: 4rem;
  transition: .5s;

}
.social-fixed:hover {
  width: 4.5rem; 
  margin: .25rem 0 0 .5rem;
  transition: .5s;
}

.container-social{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-title p {
  font-weight: 700;
}

.social{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.social img {
  width: 2rem;
  height: 2rem;
  border-radius: .5rem;
  transition: .3s;
}

.social img:hover {
  background: var(--background);
  box-shadow: 1px 1px 30px var(--background); 
  transition: .3s;
}