/*barra de navegaçao*/
.container-fluid .logo {
  background: var(--orange-dark);
  border-radius: 50%;
}

.navbar {
  padding-top: 0;
}

.nav-link {
  transition: 0.3s;
  opacity: 1;
}
.nav-link:hover {
  background: var(--orange-opacity);
  border-radius: 0.5rem;
  transition: 0.3s;
}
#navbarDropdown {
  color: #000;
  outline: none;
}

.no-sticky {
  transition: 0.3s ease-in-out;
  background: none;
  padding-top: 0.5rem;
}

.sticky {
  background-color: var(--orange-dark);
  padding: 1rem;
  transition: 0.3s ease-in-out;
}

.btn-sticky {
  background: var(--background);
  color: var(--orange-dark);
}

.btn-sticky:hover {
  color: var(--background);
  background: var(--orange-dark);
  border: 1px solid var(--background);
}

/*background do header*/
.header-full {
  font-weight: 600;
  width: 100vw;
}
.header-full-bg {
  width: 100vw;
  height: 340px;
  position: relative;
}

.header-full-image {
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  bottom: 0;
}

/*barra de busca*/
.form-control {
  background: rgba(255, 255, 255, 0.637);
}

/*barra de informacoes do header */
.header-info {
  display: flex;
  justify-content: center;
  background: var(--orange-opacity);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.fas {
  transition: 1s all;
}

.info-statistic {
  background: var(--background);
  width: 60%;
  height: 5rem;
  display: flex;
  border-radius: 50px 0 50px 0;
  transition: 0.5s all;
}

.statistic-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.statistic {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: center;
}

.statistic span {
  padding-top: 0.5rem;
}

.statistic img {
  width: 2rem;
}

/*carrosel do header*/
.header-slider {
  width: 100%;
  height: 100%;
}
.carousel-item {
  width: 100vw;
}
.active,
.carousel-item {
  animation: fade 1s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.carousel-item img {
  order: 2;
  width: 350px;
  height: 200px;
  margin-left: -100px;
  margin-bottom: 1rem;
}
.item-description {
  order: 1;
  width: 50%;
  height: 350px;
  padding: 5rem 0 0 5rem;
}
.carousel-item.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}
.carousel-item h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.carousel-item-span {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2rem;
  display: inline;
}

.carousel-item p {
  margin: 1.5rem 0 2rem 0;
}

.span-high {
  color: var(--orange-dark);
}

.btn-link {
  padding: 0.8rem 2.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
}

.btn-color {
  background-color: var(--orange-dark);
  color: var(--background);
}

.btn-color:hover {
  background-color: var(--background);
  color: var(--orange-dark);
  border: 1px solid var(--orange-dark);
}

.carousel-indicators {
  justify-content: center;
  display: none;
}

.carousel-indicators .indicators {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid var(--gray);
  background-color: var(--orange-dark);
}

.control-prev-arrow {
  background: url(/assets/left-arrow.png) no-repeat center;
  background-size: 3rem;
}

.control-next-arrow {
  background: url(/assets/next-arrow.png) no-repeat center;
  background-size: 3rem;
}

/* responsividade */

@media (max-width: 850px) {
  .info-statistic {
    width: 70%;
    transition: 0.5s all;
  }

  .item-description {
    width: 100%;
    padding: 2rem 0 2rem 4rem;
  }
  .carousel-item img {
    margin: 0 3rem 7rem 0;
    height: 20vh;
  }

  .carousel-item.active {
    padding-top: 3rem;
    gap: 0;
    font-size: 75%;
  }
  .carousel-item-span {
    font-size: 2rem;
  }
  .carousel-item p {
    margin: 1rem;
  }
  .navbar-collapse {
    background: rgba(255, 255, 255, 0.781);
    border-radius: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    transition: 0.3s;
  }
}
@media (max-width: 750px) {
  .header-slider img {
    display: none;
  }
  .item-description {
    width: 100%;
    height: 220px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .carousel-item-span {
    display: contents;
  }
  .info-statistic {
    width: 80%;
    transition: 0.5s all;
  }
  .carousel-item span {
    font-size: 1.5rem;
  }
  .carousel-item h4 {
    font-size: 1rem;
  }
  .statistic img {
    width: 1rem;
  }
  .statistic span {
    text-align: center;
    font-size: 75%;
  }
  .navbar-collapse {
    background: rgba(255, 255, 255, 0.781);
    border-radius: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    transition: 0.3s;
  }
}
