/*seçao de serviços*/
.services-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 1rem;
  margin-top: 2rem;
}
.services {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title,
.title-color {
  font-size: 1.5rem;
  font-weight: 600;
}

.title-color {
  color: var(--orange-dark);
}
.services-text-container {
  margin: 3rem 0 0 0;
}
.services-text-container p {
  margin: 0.6rem 0 2rem 0;
}

/*cards de serviço*/
.services-cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.card-bg {
  height: 50%;
  object-fit: contain;
}

.card-bg img {
  clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 50% 85%, 0 100%, 0 0);
  border-radius: 0.5rem 0.5rem 0 0;
  height: 100%;
}

.cards {
  display: block;
  flex-direction: column;
  box-shadow: 1px 1px 10px black;
  width: 20%;
  min-height: 40vh;
  border-radius: 0.5rem;
  transition: 0.2s;
}

.cards:hover {
  transform: translateY(-0.5rem);
  transition: 0.2s;
}

.card-text {
  padding-bottom: 2rem;
  height: 50%;
  position: relative;
}

.card-text p {
  font-weight: 700;
  margin-bottom: 0;
}

.card-text span {
  padding: 0.8rem 0.3rem 2rem 0.3rem;
  display: block;
}

.card-text .btn-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

/*slider*/

.container-products {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.products-text-container {
  margin: 3rem 0 0 0;
}

.products-container {
  width: 100%;
  min-height: 265px;
  object-fit: contain;
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 0.5rem;
  box-shadow: 1px 1px 10px black;
  border-radius: 0.5rem;
  transition: 0.2s all;
}

.product-container {
  display: inline-flex;
  width: 100%;
  border-radius: 0.5rem;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  padding: 0;
}

.product-img {
  width: 45%;
  height: 265px;
  object-fit: cover;
}

.product-container.selected {
  opacity: 1;
  transition: 0.2s;
  transition: opacity 1s;
}

.product-container .product-bg {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
}
.product-description {
  width: 55%;
}
.description-icons-container,
.description-price {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.description-title {
  padding-top: 1rem;
}

.description-icons-container {
  justify-content: space-evenly;
  width: 100%;
  height: 30%;
}

.description-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.description-icons img {
  margin-bottom: 0.5rem;
}

.description-price {
  justify-content: space-evenly;
}

.description-price .btn-link {
  display: flex;
  align-items: center;
}

.price {
  display: flex;
  flex-direction: column;
}

.dots-container {
  width: 100%;
  height: 5vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dots {
  width: 1rem;
  height: 1rem;
  background-color: var(--orange-dark);
  border-radius: 50%;
  margin-right: 1rem;
}

/* more-infos */
.more-info-text-container {
}

.container-more-info {
  margin-bottom: 1rem;
  width: 85%;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px black;
  border-radius: 0.5rem;
}

.more-info {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.more-info-map {
  width: 60%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
}

.info-title {
  margin-bottom: 1rem;
}

.info-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.info-img {
  width: 2rem;
  margin-right: 0.5rem;
}

.info-contacts p {
  margin: 0;
}

.schedule-container {
  margin-top: 2rem;
}

.schedule-container p:first-child {
  font-weight: 700;
}

/* responsividade */
@media (min-width: 1440px) {
  .products-container {
    min-height: 400px;
    transition: 0.2s all;
  }
  .product-img {
    height: 400px;
  }
  .description-title {
    margin-top: 2rem;
  }
}
@media (max-width: 1540px) {
  .cards {
    width: 25%;
  }
}
@media (max-width: 1220px) {
  .cards {
    width: 30%;
  }
  .btn-link {
    padding: 0.8rem 1.8rem;
  }
}
@media (max-width: 850px) {
  /* cards */
  .cards {
    width: 28%;
  }
  .card-text .btn-link {
    bottom: 0.5rem;
    width: 70%;
  }

  .container-products {
    width: 85%;
    margin: 0;
  }

  .products-container {
    min-height: 40rem;
  }

  .product-container {
    display: flex;
    flex-direction: column;
  }
  .product-img {
    width: 100%;
    height: 350px;
  }
  .product-description {
    width: 100%;
    padding-bottom: 0.5rem;
  }

  .container-more-info {
    display: flex;
    flex-direction: column;
    min-height: 45rem;
  }

  .more-info,
  .more-info-map {
    width: 100%;
  }

  .info {
    padding: 0.5rem 0;
  }

  .schedule-container {
    margin: 0;
  }

  .map {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}

@media (max-width: 420px) {
  .services-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .cards {
    width: 90%;
    margin-bottom: 1rem;
  }

  .products-container {
    min-height: 68vh;
  }

  .product-container {
    display: flex;
    flex-direction: column;
  }

  .products-container {
    height: 70vh;
  }

  .product-img {
    width: 100%;
    height: 100%;
  }
  .product-container .product-bg {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .product-description {
    width: 100%;
  }
  .title,
  .title-color {
    font-size: 1.5rem;
  }

  .container-more-info {
    height: 80vh;
  }
  .services-text-container {
    margin: 1.5rem 0;
  }

  .services-container {
    margin-top: 2rem;
  }
}
@media (max-width: 360px) {
  .products-container {
    height: 70vh;
    font-size: 65%;
  }
  .title,
  .title-color {
    font-size: 1.2rem;
  }
  .services-container {
    margin-top: 2rem;
  }
  .services-text-container {
    margin: 1rem 0;
  }
}
